@model ProductsPageViewModel

@{
    ViewData["Title"] = "Index Filterd";
}

<h1>Index</h1>

<div>
    <form class="row"
          data-ajax="true"
          data-ajax-url="_IndexPartial"
          data-ajax-update="#products_list">
        <div class="col-auto">
            <input asp-for="Filter" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-auto">
            <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                DESCRIPTION
            </th>
            <th>
                PRIX
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="products_list">
        <partial name="_IndexPartial" model="@Model.Products" />
    </tbody>
</table>