@{
    ViewData["Title"] = "Not Found";
}
<h1 class="text-danger">@ViewBag.ErrorMessage</h1>
<h1 class="text-danger">@ViewBag.Path</h1>
<h1 class="text-danger">@ViewBag.QS</h1>

<a asp-action="Index" asp-controller="Home">Home Sweet Home</a>