@model Employe
@{
    ViewData["Title"] = "Create";
}

<h1>New Employe</h1>

<form method="post" asp-action="Bonjour">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
</form>